/* css always starts with a selector (i.e h1)
next is the declaration, which consists of a property, followed by the value (i.e. color: blue) */
h1,
h2,
h3,
h4,
p,
li {
  font-family: serif;
  color: #444;
}
/*font-family must be installed on users computer to register, so it's important to make sure that font's are generalized enough to be recognized - this will be addressed later*/

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  /*Just because the h1 is the first heading, it doesn't mean that it has to be the biggest, it is more about semantics*/
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center; /*aligns text within the parent element or page*/
}

p {
  font-size: 22px;
  line-height: 1.5; /* by default, the value is 1. 1.5 signifies it is 1.5 times the font size*/
}

li {
  font-size: 20px;
}

/* footer p {
  font-size: 16px;
} */

/* article header p {
  font-style: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

/* 
id names are only allowed to be used once they are not repeatible. In other words, once you use it in one specific location, you cannot use it in another within HTML. You must use class instead.

***Best practice is to not use id's at all. Use classes, even if you only use them once.***
*/

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */
.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}

aside {
  background-color: #f7f7f7;
  /* border: 5px solid #1098ad; */
  /* border is an example of using shorthand properties */
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/* .first-li {
  font-weight: bold;
} */

li:first-child {
  font-weight: bold;
}
/* this is an example of a pseudoclass, signified by the : */

li:last-child {
  font-style: italic;
}

/* li:nth-child(2) {
  color: red;
} */

/* li:nth-child(odd) {
  color: red;
} */

/* li:nth-child(even) {
  color: red;
} */
/* this technique is very helpful for styling tables */

/* Misconception: This won't work */
article p:first-child {
  color: red;
}

/* 
Styling Links
LVHA: Commit this to memory as this is the sequence for styling links
Links --> Visited --> Hover --> Active
 */
a:link {
  color: #1098ad;
  text-decoration: none;
  /* removes underline in links */
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline dotted orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}
